.search-bar {
    width: 672px;
    height: 45.15px;
    background: rgba(195, 195, 195, 0.50);
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .search-input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
  }


  